.wrapper{
    position: relative;
    width: 90%;
    height: auto;
    margin: 2em auto;
    border-radius: 18px;
    background: var(--primary);
    box-shadow:  23px 23px 46px var(--shadow1), 
                 -23px -23px 46px var(--shadow2);
    padding: 4em;
    transition: all 0.2s ease-in;
}

.title{
    margin-bottom: 1em;
    color: var(--textColor);
    font-weight: 100;
    transition: all 0.2s ease-in;
}

.title img{
    width: 50px;
    margin-right: .5em;
    color: var(--textColor);
    transition: all 0.2s ease-in;
}

.closeBtn{
    color: var(--primary);
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: all .1s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s ease-in;
}

.boxMode{
    position: relative;
    left: 165px;
    top: 7px;
}

.btnMode{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(145deg, var(--shadowGradient1), var(--shadowGradient2));
    box-shadow:  4px 4px 8px var(--shadow1), 
                 -4px -4px 8px var(--shadow1);
    transition: all 0.2s ease-in;
}

.btnMode:first-of-type img{
    transform: rotateZ(-45deg);
}

.btnMode:nth-of-type(2) img{
    transform: rotateZ(45deg);
}