<div class="wrapper">
    <a (click)="handleClick()" class="closeBtn" id="closeBtn">
        <span class="material-icons">
            highlight_off
        </span>
    </a>
    <div class="boxMode">
        <a (click)="toggleColor($event)" class="btnMode dark">
            <img src="../assets/images/dark.png" alt="dark">
        </a>
        <a (click)="toggleColor($event)" class="btnMode light">
            <img src="../assets/images/light.png" alt="light">
        </a>
    </div>
    <h1 class="title"><img src="https://image.flaticon.com/icons/svg/290/290831.svg" alt="app_logo">app.</h1>
    <app-list [close]="value"></app-list>
<div>