.wrapper{
    width: 90%;
    min-width: 640px;
    height: auto;
    margin: 2em auto;
    border-radius: 18px;
    background: #323643;
    box-shadow:  23px 23px 46px #2b2e39, 
                 -23px -23px 46px #3a3e4d;
    padding: 4em;
}

.title{
    margin-bottom: 1em;
    color: #aaa;
    font-weight: 100;
}

.title img{
    width: 50px;
    margin-right: .5em;
    color: #aaa;
}

.closeBtn{
    color: #323643;
    float: right;
    cursor: pointer;
    transition: all .1s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.closeBtn:active{
    color: white;
    transition: .1s;
}