.nav-item{
    color: var(--textColor);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    color: var(--textColor2);
    border-color: var(--textColor2);
}

.nav-link.active{
    background-color: transparent;
    border-color: var(--textColor2);
    color: var(--textColor2);
}

.nav-tabs {
    border-bottom: 1px solid var(--textColor);
}

div.open{
    height: auto;
    margin-top: 45%;
    transition: all .8s;
}

div.hidden{
    height: 0px;
    margin-top: -50px;
    transition: all .8s;
}

.canva{
    margin-top: -40%;
}

.hiddenCanva{
    display: none;
}
